.App-header {
  /* background: var(--white); */
  min-height: 12vh;
  display: flex;
  color: white;
}

.App-link {
  color: var(--white);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  /* box-shadow: 0 0.1rem 0.5rem #ccc; */
  width: 100%;
  height: 12vh;
  /* background: var(--white); */
  transition: all 0.5s;
  /* position: fixed; */
}

.navigation .logo {
  /* color: var(--blue);
  font-size: 1.7rem;
  font-weight: 600;
  display: flex;
  flex-direction: column; */
  color: var(--white);
  font-size: 1.3em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  line-height: 13px;
  justify-content: center;
  text-shadow: 2px 1px var(--blue);
}

.logo span {
  color: var(--white);
  letter-spacing: 10px;
  font-size: x-small;
  align-items: center;
  text-align: center;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation ul li a {
  color: var(--white);
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s;

}

.navigation ul li a:hover {
  color: var(--blue);
}

/* .nav-menu-span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  width: 4px;
  height: 4px;
  border-radius: 100%;
  margin-left: 19px;
  cursor: pointer;
}

.nav-menu-span:hover {
  display: flex;
} */

.menu {
  cursor: pointer;
  display: none;
}

.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--white);
  margin: 5px auto;
  transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: var(--white);
}

.home {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}

.home-text {
  max-width: 37rem;
  text-align: center;
}

.home-text .text-h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 1rem;
}

.home-text .text-h1 {
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  gap: 13px;
  line-height: 2rem;
  color: var(--white);
}

.home-text p {
  margin: 0px 11.5em 0 11.5em;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 16px;
  padding: 6px 12px;
  font-size: 12px;
  cursor: pointer;
}

.home-text p:hover {
  border: 2px solid var(--blue);
  color: var(--blue);
}

.navigation-icon {
  margin: 1.8em 0;
}

.nav-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-menu-icon svg {
  font-size: 1.5em;
}

.nav-menu-icon li:hover {
  color: var(--blue);
  cursor: pointer;
}

img {
  /* width: 54%;
  border-radius: 104%;
  height: 67%; */
  width: 10em;
  /* border-radius: 104%; */
  height: 10em;
}

.icon-arrow {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 2.5em;
}

.icon-arrow svg {
  width: 29px;
  height: 49px;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 15px;
  padding: 0px 6px 0px 6px;
}

.icon-arrow svg:nth-of-type(1) {
  transform: translateY(45deg);
  animation: animate infinite 1.1s;
}

@keyframes animate {
  0% {
    padding-top: 0px;
  }

  50% {
    padding-top: 10px;
  }

  0% {
    padding-top: 0px;
  }
}

.main {
  width: 100%;
  /* height: 110vh; */
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
  gap: 3em;
  background: var(--white);
}

.main-text {
  max-width: 37rem;
  padding: 10px 0;
}

.main-text .main-text-h2 {
  font-size: 2rem;
  display: flex;
  gap: 0.4em;
  color: var(--dark);
  margin-bottom: 0.5rem;
  font-weight: 600;
  justify-content: center;
}

.main-text .main-text-h2 span {
  font-weight: 300;
}

.knowledge {
  font-weight: 300 !important;
}

.knowledge span {
  font-weight: 600 !important;
}

.main-icon {
  display: flex;
  align-items: center;
  color: var(--red);
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
}



.main-icon hr {
  width: 50px;
}

.main-icon svg {
  font-size: 1.5rem;
}

.main-text-about {
  display: flex;
  color: var(--dark);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 37rem;
  margin-bottom: 1em;
  gap: 2em;
}

.box-info svg {
  font-size: 1.5em;
  margin-top: 1em;
  color: var(--red);
}

.box-info {
  padding: 10px;
  border: 1px solid var(--darkBlue);
}

.box-info p {
  margin: 1.5em 0;
  font-size: 12px;
}

.container-box {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* gap: 1em; */
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 21%;
  max-width: 25%;
  padding: 0 4px;
  margin: 5px 1em;
}

.column h3 {
  font-size: 16px;
}


.profile-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.info-main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  max-width: 48rem;
  margin-bottom: 1em;
  gap: 0.5em;
}

.info-crl {
  border: 1px solid #000;
  margin: 16px 0;
  padding: 15px 10px;
  background: darkturquoise;
}

.name-skil {
  display: flex;
  gap: 1em;
  align-items: center;
}

.name-skil hr {
  width: 4px;
  height: 4px;
  background: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 50%;
}

.info-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-footer p {
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.info-footer span {
  color: var(--white);
}

.info-footer svg {
  margin: 0 1px 0 1px;
}

.icon-footer li {
  border: 1px solid;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.icon-footer li svg {
  font-size: 15px;
}

.container-language {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-language {
  display: flex;
  justify-content: space-around;
  gap: 2em;
}

.content-language h2 {
  background: var(--darkBlue);
  padding: 8px 3em;
  ;
  color: var(--white);
  border: 1px dashed var(--white);
  text-align: center;
  font-weight: 300;
}

.content-language p {
  font-size: 8px;
  color: var(--white);
}

/* .main-text .main-text-h1 {
  font-size: 4rem;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.main-text p {
  margin-top: 1.5rem;
  align-items: center;
  display: flex;  
  justify-content: center;
} */

@media (max-width: 915px) {
  .nav-code {
    gap: 0.6rem !important;
  }
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media (max-width: 785px) {
  .navigation {
    padding: 18px 20px;
  }

  .navigation ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2em 15px;
    width: 10em;
    height: 62vh;
    background: var(--dark);
    z-index: 1;
  }

  .menu {
    display: block;
  }

  .menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--white);
    gap: -10px;
    transition: 0.3s;
  }

  .nav-menu.active {
    right: 0;
    top: 5.9em;
  }

  .nav-item {
    margin: 16px 0;
  }

  .home {
    padding: 0px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    height: 28em;
    gap: 5px;
  }

  .home-text h4 {
    font-size: 15px;
  }

  .home-text h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .home-text p {
    margin: 0px 7.5em 0 7.5em;
  }

  .content-language,
  .content-language h2 {
    gap: 1em;
    padding: 3px 0.9em;
    font-size: large;
  }


  .info-footer p {
    font-size: 10px;
  }

  .info-footer .img-heart {
    font-size: 10px;
  }

  .info-footer svg {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .info-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 37rem;
    margin-bottom: 1em;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .home-text .text-h1 {
    font-size: 1.4em;
  }

  .profile-name h2 {
    font-size: 1.3em;
  }

  .main-text .main-text-h2 {
    font-size: 1.3rem;
  }

  .knowledge {
    flex-direction: column;
  }

  .main-text-about {
    font-size: 13px;
  }

  .container-language {
    height: 18vh;
  }

}



/* 
para os outras telas

.App-header {
  background: var(--white);
  min-height: 12vh;
  display: flex;
  color: white;
}

.App-link {
  color: var(--dark);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  width: 100%;
  height: 12vh;
  background: var(--white);
  transition: all 0.5s;
  position: fixed;
}

.navigation .logo {
  color: var(--blue);
  font-size: 1.7rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.logo span {
  color: var(--dark);
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation ul li a {
  color: var(--dark);
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s;
}

.navigation ul li a:hover {
  color: var(--blue);
}

.menu {
  cursor: pointer;
  display: none;
}

.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--dark);
  margin: 5px auto;
  transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: var(--blue);
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.main-text {
  max-width: 37rem;
}

.main-text .main-text-h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--blue);
  margin-bottom: 1rem;
}

.main-text .main-text-h1 {
  font-size: 4rem;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.main-text p {
  margin-top: 1.5rem;
  align-items: center;
  display: flex;  
  justify-content: center;
}

.nav-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.nav-menu-icon li:hover {
  color: var(--blue);
}

img {
  width: 100%;
}

@media (max-width: 785px) {
  .navigation {
    padding: 18px 20px;
  }

  .navigation ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2em 15px;
    width: 10em;
    height: 49vh;
  }

  .menu {
    display: block;
  }

  .menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--white);
    gap: -10px;
    transition: 0.3s;
  }

  .nav-menu.active {
    right: 0;
    top: 5.9em;
  }

  .nav-item {
    margin: 16px 0;
  }

  .home {
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5px;
  }

  .home-text h4 {
    font-size: 15px;
  }

  .home-text h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
} */