@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a1b8ee107345049.5fa4aeae05dc0.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

:root {
  --blue: #2528d6;
  --blueS: #498FDD;
  --blueDarkBlack: #08081f;
  --white: #fff;
  --dark: #1e1e1e;
  --darkBlue: #313245;
  --red: #f60606;
  --green: #3baa07;
  --violet: rgb(221, 3, 250);
}

h1,
h2,
h3,
h4,
span,
p {
  color: var(--dark);
}

a {
   cursor: pointer;
}